<%- include("template/header", {titulo_web: "Pets" }) %>
    <div class="container">
        <h1 class="my-2">CRUD Mongo</h1>
        <a href="pets/create" class="btn btn-success btn-block my-4">Add new Pet</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Desc</th>
                    <th scope="col">emoji</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayPets.length > 0) { %>
                    
                    <% for( let index = 0; index < arrayPets.length; index++ ) { %>
                        <tr>
                            <th scope="row"><%= arrayPets[index]._id %></th>
                            <td><%= arrayPets[index].nombre %> </td>
                            <td><%= arrayPets[index].descripcion %> </td>
                            <td><%= arrayPets[index].emoji %> </td>
                            <td>
                                <a href="pets/<%= arrayPets[index]._id %>" class="btn btn-info">Details</a>
                                <a href="#" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    <% } %>
                    

                <% } %>
            </tbody>
        </table>

    </div>
    <%- include("template/footer")%>